.fuse*

*~
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.pyg
*.run.xml
*.synctex.gz
*.tdo
*.toc
*.xdy

.SyncID
.SyncIgnore
.SyncArchive
